<div class="row main">
    <div class="large-12 columns bg">
        <div class="large-3 columns"><img  class="logo" src="img/LITAlogo.gif"></div>

<a class="large-1 large-push-5 columns" id="music" href="img/zombiemusic.mp3" target="_blank">Music</a>
   <a id="zso" href="/end" role="button" aria-label="submit form" class="large-2 large-push-5 columns button">Sign out</a>
            <div class="large-12 columns  gameareab"> 
            <div class="large-2 columns love"><img src="img/loveBar_half.png"></div>
                <div class="large-8 columns large-push-2 zombieb"></div>
                <div class="large-12 columns talkbox">
                    <p class="talkwords">{{Question}}</p>
                    <a role="button" id="zwordsnow" class="button">{{answer1}}</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button ">{{answer2}}</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button ">{{answer3}}</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button ">{{answer4}}</a>

                </div>
        </div>
    </div>
</div>